body{
    background: #f9f9f9;
}
ul{
    background: #fff;
}
ul li{
    margin: 0 auto;
    padding: 0.32rem 0 0;
    width: 6.9rem;
    height: 0.7rem;
    line-height: 0.7rem;
    border-bottom: 1px solid #f2f2f2;
    font-size: 0.28rem;
}
ul li .title{
    display: inline-block;
    width: 1.2rem;
    font-weight: bold;
}
ul li input[type="text"],ul li select{
    margin-left: 0.6rem;
    height: 0.7rem;
    width: 4.7rem;
    line-height: 0.7rem;
    font-size: 0.28rem;
}
input[type="file"] {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #fff;
    height: 100%;
    opacity: 0;
    width: 100%;
}
.set{
    padding: 0 0.3rem;
    line-height: 1rem;
    background: #fff;
    font-weight: bold;
}
.set .fr{
    display: inline-block;
    margin-top: 0.38rem;
    width: 12px;
    height: 12px;
    /*margin: auto;*/
    border-radius: 50%;
    border: 1px solid #666;
}
.set .fr.select{
     width: 14px;
     height: 14px;
     /*margin: auto;*/
     border-radius: 50%;
     border: none;
    background: url("../images/select.png") no-repeat;
    background-size: 100% 100%;
 }
.button{
    margin: 0.8rem auto 0;
    width: 6.48rem;
    height: 0.82rem;
    line-height: 0.82rem;
    color: #fff;
    font-size: 0.32rem;
    font-weight: bold;
    background: #4e9dfa;
    border-radius: 0.07rem;
    text-align: center;
}