body{
    background: #fff;
}
ul{
    margin-bottom: 0.3rem;
}
ul li{
    margin: 0 auto;
    padding: 0.32rem 0 0;
    width: 6.9rem;
    height: 0.7rem;
    line-height: 0.7rem;
    border-bottom: 1px solid #f2f2f2;
    font-size: 0.28rem;
}
ul li .title{
    display: inline-block;
    width: 1.2rem;
    font-weight: bold;
}
ul li input[type="text"],ul li select{
    margin-left: 0.6rem;
    height: 0.7rem;
    width: 4.7rem;
    line-height: 0.7rem;
    font-size: 0.28rem;
}
input[type="file"] {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #fff;
    height: 100%;
    opacity: 0;
    width: 100%;
}
label {
    margin: 0.3rem;
    position: relative;
    cursor: pointer;
    padding-left: 17px;
}

label input {
    display: none;
}

label span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #666;

}

label input:checked+span {
    background: url("../images/select.png") no-repeat;
    background-size: 100% 100%;
    border: none;
    width: 14px;
    height: 14px;
}
