body{
    background: #fff;
}
.session1 li{
    margin: 0 auto;
    padding: 0.46rem 0 0;
    width: 6.9rem;
    /*height: 1.16rem;*/
    border-bottom: 1px solid #f2f2f2;
}
.session1 li .title{
    padding-left: 0.14rem;
    line-height: 0.34rem;
    font-size: 0.32rem;
    font-weight: bold;
    border-left: 0.05rem solid #e4373b;
}

.session1 li input[type="text"],ul li select{
    margin-top: 0.24rem;
    padding: 0 0.2rem;
    height: 0.58rem;
    width: 6.7rem;
    line-height: 0.58rem;
    font-size: 0.28rem;
}
.session1 li select{
    margin-top: -1px;
    border: 1px solid #f2f2f2;
}
.session1 li.address .title{
    margin-bottom: 0.4rem;
}
.session1 li.address{
    border: none;
}
input[type="file"] {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #fff;
    height: 100%;
    opacity: 0;
    width: 100%;
}
.session2{
    /*margin: 0 auto;*/
    padding: 0.46rem 0.3rem 0;
    /*width: 6.9rem;*/
    border-bottom: 0.2rem solid #f2f3f5;
    border-top: 0.2rem solid #f2f3f5;
}
.session2 .title{
    padding-left: 0.14rem;
    line-height: 0.34rem;
    font-size: 0.32rem;
    font-weight: bold;
}