body{
    background: #fff;
}
.swiper-slide{
    /*background: #fff;*/
    padding: 0.3rem 0 0.65rem;
    /*width: 6.9rem;*/
}
.swiper-slide img{
    margin: 0 auto;
    width: 6.9rem;
}
ul{
    padding-top: 0.45rem ;
    border-top: 0.2rem solid #f2f3f5;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
li{
    margin-bottom: 0.12rem;
    width: 30%;
    text-align: center;
    font-size: 0.28rem;
    font-weight: bold;
    line-height: 0.8rem;
}
li img{
    margin: 0 auto;
    width: 1.4rem;
    height: 1.4rem;
}